:root {
  /* Main Colors */
  --uranian-blue: #bde0fe;
  --light-sky-blue: #4b9fee;


  /* Gradient Backgrounds */
  /* --gradient-primary: linear-gradient(135deg, var(--light-sky-blue), var(--light-sky-blue), var(--carnation-pink));
  --gradient-secondary: linear-gradient(135deg, var(--uranian-blue), var(--light-sky-blue));
  --gradient-full: linear-gradient(135deg, var(--light-sky-blue), var(--light-sky-blue), var(--carnation-pink), var(--uranian-blue), var(--light-sky-blue)); */

  /* Background Colors */
  --bg-primary: #0000009f!important;
  --bg-secondary: rgba(255, 255, 255, 0.05);
  
  /* Text Colors */
  --text-primary: #fafaf8;
  --text-secondary: rgba(255, 255, 255, 0.7);

  /* Interactive Colors */
  --hover-color: var(--carnation-pink);
  --active-color: var(--light-sky-blue);
}

/* Global Styles */
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}